body {
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display";
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.background {
  position: fixed;
  top: -80px;
  left: 0;
  right: 0;
  width: 100%;
}

.container {
  background-color: white;

  padding: 0 0px 8px 0px;
  border-radius: 18px;

  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.03);

  z-index: 100;
}

.picture {
  width: 380px;
}

.content {
  margin-top: 40px;
  margin-right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 24px;
}

.description {
  color: hsl(224, 23%, 55%);
  font-size: 14px;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.package,
.icon-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.package {
  background-color: hsl(225, 100%, 98%);
  width: 280px;
  padding: 18px;
  border-radius: 14px;
  margin-top: 20px;
}

.package img {
  margin-right: 18px;
  height: 36px;
}

.package-title {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  margin-bottom: 3px;
}

.package-cost {
  color: hsl(224, 23%, 55%);
  font-size: 14px;
}

.change {
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
  font-weight: bold;
  font-size: 14px;

  cursor: pointer;
  transition: opacity 0.15s, text-decoration 0.15s;
}

.change:hover {
  opacity: 0.7;
  text-decoration: none;
}

.payment-button {
  background-color: hsl(245, 75%, 52%);
  color: white;

  font-family: Red Hat Display;
  font-weight: bold;

  border: none;
  border-radius: 10px;

  padding: 14px 90px;

  margin-top: 30px;

  box-shadow: 0 8px 20px rgba(56, 41, 224, 0.3);
  cursor: pointer;
  transition: opacity 0.15s;
}

.payment-button:hover {
  opacity: 0.7;
}

.cancel-order {
  margin-top: 30px;
  margin-bottom: 30px;

  color: hsl(224, 23%, 55%);
  font-size: 14px;
  font-weight: bold;

  cursor: pointer;
  transition: color 0.15s;
}

.cancel-order:hover {
  color: hsl(223, 47%, 23%);
}

@media screen and (max-width: 476px) {
  .container {
    background-color: white;

    padding: 0 0px 8px 0px;
    border-radius: 18px;

    width: 320px;

    overflow: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.03);

    z-index: 100;
  }

  .picture {
    width: 320px;
  }

  .content {
    margin-top: 40px;
    margin-right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 24px;
  }

  .description {
    color: hsl(224, 23%, 55%);
    font-size: 14px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .package,
  .icon-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .package {
    background-color: hsl(225, 100%, 98%);
    width: 240px;
    padding: 18px;
    border-radius: 14px;
    margin-top: 20px;
  }

  .package img {
    margin-right: 18px;
    height: 36px;
  }

  .package-title {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    margin-bottom: 3px;
  }

  .package-cost {
    color: hsl(224, 23%, 55%);
    font-size: 14px;
  }

  .change {
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;

    cursor: pointer;
    transition: opacity 0.15s, text-decoration 0.15s;
  }

  .change:hover {
    opacity: 0.7;
    text-decoration: none;
  }

  .payment-button {
    background-color: hsl(245, 75%, 52%);
    color: white;

    font-family: Red Hat Display;
    font-weight: bold;

    border: none;
    border-radius: 10px;

    padding: 14px 70px;

    margin-top: 30px;

    box-shadow: 0 8px 20px rgba(56, 41, 224, 0.3);
    cursor: pointer;
    transition: opacity 0.15s;
  }

  .payment-button:hover {
    opacity: 0.7;
  }

  .cancel-order {
    margin-top: 30px;
    margin-bottom: 30px;

    color: hsl(224, 23%, 55%);
    font-size: 14px;
    font-weight: bold;

    cursor: pointer;
    transition: color 0.15s;
  }

  .cancel-order:hover {
    color: hsl(223, 47%, 23%);
  }
}
